/* Color pallet
  #a597ad (Amethyst Smoke)
  #1c0469 (Paris M)
  #984ed6 (Medium Purple)
  #2c2552 (Port Gore)
  #370486 (Kingfisher Daisy)
*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body  {
  height: 100vh;
  background: linear-gradient(#370486, #2f0370 50%, #a597ad 50%);

}

.container{
  background-color: #a597ad;
  width: 90vw;
  max-width: 28em;
  padding: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 0 3.2em rgba(1,3,29,0.2);
  border-radius: 0.6em;

}

h2  {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}

.input-wrapper input {
  display: block;
  width: 100%;
  font-size: 1.35em;
  padding: 0.4em;
  border: 1px solid #a0a0a0;
  border-radius: 0.2em;
}

.input-wrapper p {
  display: block;
  width: 100%;
  font-size: 1.35em;
  padding: 0.4em;
  border: 1px solid #a0a0a0;
  border-radius: 0.2em;
}

.input-wrapper label  {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.25em;

}

.input-wrapper:not(:last-child) {
  margin-bottom: 1.2em;
}

@media screen and (max-width: 28em) {
  .container{
    font-size: 14px;
  }
}




